:root {
  --primary-color: #4b0082;
  --secondary-color: #f5f2fe;
  --ascent-color: rgb(229, 162, 235);
  --background-color: #eec2c2;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  max-width: 80px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}
.navbar {
  margin: 0 !important;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 0px;
  float: left;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
}
.navbar {
  padding: 15px 50px;
  background-color: var(--primary-color);
}

.navbar-brand,
a.nav-link {
  letter-spacing: 0.1em;
  font-size: 1em;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  margin: 0px 10px 0px 10px;
}

a.nav-link {
  position: relative;
}

a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

body {
  margin-top: 100px 0;
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
  text-align: center;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: "Playfair Display", serif;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.primary-link:hover {
  color: #8ef6e4;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  padding: 20px 10px;
  margin: 10px;
}
#about-me {
  font-size: 20px;
}

.container {
  font-family: "Playfair Display", serif;
}

#link a {
  text-decoration: none;
  color: var(--primary-color);
}
#link a:hover {
  color: #8ef6e4;
}
.closing-statement {
  text-align: left;
  font-size: 25px;
}
.intro-hi {
  background: url("images/background-image.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  background-color: var(--background-color);
}
.fade-in {
  color: #ffffff;
}
#hi {
  padding-top: 20px;
}
#intro-contact {
  padding-bottom: 20px;
}

#icons {
  font-size: 80px;
  padding: 5px 10px;
  color: var(--primary-color);
}
footer {
  bottom: 0px;
  width: 100%;
}

footer .email {
  margin-bottom: 40px;
}

footer .email a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 30px;
}
#contact a:hover {
  color: #8ef6e4;
}
#contact-me i {
  font-size: 60px;
  color: var(--primary-color);
  border-radius: 50%;
  padding: 5px 10px;
}
#contact-me i:hover {
  color: #8ef6e4;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h2 {
    font-size: 36px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .closing-statement {
    text-align: center;
  }
  #icons i {
    font-size: 60px;
  }
}
