:root {
  --primary-color: #4b0082;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px 0;
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
  text-align: center;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: "Playfair Display", serif;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.primary-link:hover {
  color: #8ef6e4;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.container {
  font-family: "Playfair Display", serif;
}
.logo {
  max-width: 80px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}
.navbar {
  margin: 0 !important;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 0px;
  float: left;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
}

footer .email {
  margin-bottom: 40px;
}

footer .email a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 30px;
}
#contact a:hover {
  color: rgb(229, 162, 235);
}
#contact-me i {
  font-size: 60px;
  color: var(--primary-color);
  border-radius: 50%;
  padding: 5px 10px;
}
#contact-me i:hover {
  color: rgb(229, 162, 235);
}

#link a {
  text-decoration: none;
  color: var(--primary-color);
}
#link a:hover {
  color: rgb(229, 162, 235);
}
.closing-statement {
  text-align: left;
  font-size: 25px;
}
.intro {
  background: #ffe9e3;
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h2 {
    font-size: 36px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .closing-statement {
    text-align: center;
  }
}
